body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Hind', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Hind', sans-serif;
  font-size: 3.1rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.96rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.32rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #5263b8 !important;
}
.bg-success {
  background-color: #f1a631 !important;
}
.bg-info {
  background-color: #fb7522 !important;
}
.bg-warning {
  background-color: #4da92e !important;
}
.bg-danger {
  background-color: #ff4e4e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4da92e !important;
  border-color: #4da92e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #303b74;
  color: #303b74;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #5263b8;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3974b7;
  color: #3974b7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #7fa8d7;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #b44703;
  color: #b44703;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #fb7522;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #b0700c;
  color: #b0700c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f1a631;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #285918;
  color: #285918;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #4da92e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4da92e !important;
  border-color: #4da92e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e70000;
  color: #e70000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff4e4e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #5263b8 !important;
}
.text-secondary {
  color: #7fa8d7 !important;
}
.text-success {
  color: #f1a631 !important;
}
.text-info {
  color: #fb7522 !important;
}
.text-warning {
  color: #4da92e !important;
}
.text-danger {
  color: #ff4e4e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #303b74 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3974b7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #b0700c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b44703 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #285918 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e70000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fb7522;
}
.alert-warning {
  background-color: #4da92e;
}
.alert-danger {
  background-color: #ff4e4e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5263b8;
  border-color: #5263b8;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #5263b8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #acb5dd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fef9f0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff2ea;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93db7b;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #5263b8;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5263b8;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5263b8;
  border-bottom-color: #5263b8;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #7fa8d7 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s3HdEbSoTs {
  padding-top: 0px;
  background-color: #ffffff;
}
.cid-s3HdEbSoTs img {
  width: 100%;
}
.cid-s3HdEbSoTs .container-fluid {
  padding: 0 !important;
}
.cid-s3HdZ7PaQx {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #191f2d;
}
.cid-s3HdZ7PaQx .container-fluid {
  position: relative;
}
.cid-s3HdZ7PaQx .page-title-content {
  width: 100%;
}
.cid-s3HdZ7PaQx .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-s3HdZ7PaQx .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-s3HdZ7PaQx .page-title-content {
    text-align: center;
  }
}
.cid-s3HdZ7PaQx .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-s3HdZ7PaQx a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-s3HdZ7PaQx a:not(:first-child) {
  margin-left: 20px;
}
.cid-s3HdZ7PaQx a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-s3HdZ7PaQx a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-s3HdZ7PaQx a:hover:after,
.cid-s3HdZ7PaQx a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-s3HdZ7PaQx a:hover:before,
.cid-s3HdZ7PaQx a:focus:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-s3HdZ7PaQx a.text-white:hover,
.cid-s3HdZ7PaQx a.text-white:focus {
  color: #ffffff !important;
}
.cid-s3HdZ7PaQx .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-s3HdZ7PaQx .page-title-content .title,
.cid-s3HdZ7PaQx .icon-section,
.cid-s3HdZ7PaQx .mbr-section-btn {
  color: #ffffff;
}
.cid-thkrRuHxOv {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-thkrRuHxOv .container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.cid-thkrRuHxOv .card {
  padding: 0;
}
.cid-thkrRuHxOv .card .card-block {
  height: 0px;
  position: relative;
}
.cid-thkrRuHxOv .card .card-block::before {
  display: none !important;
}
.cid-thkrRuHxOv .card:hover .card-block::before {
  opacity: 0;
  background-color: transparent;
}
.cid-thkrRuHxOv .subtitle {
  color: #767676;
}
.cid-thkrRuHxOv .row {
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 !important;
}
.cid-thkrRuHxOv .title {
  max-width: 100%;
  margin: auto;
  padding-top: 2rem;
}
.cid-thkrRuHxOv .text-wrap {
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  pointer-events: all;
  display: none;
}
.cid-thkrRuHxOv .card {
  padding: 0;
}
.cid-thkrRuHxOv .card .card-block {
  height: 600px;
  position: relative;
}
.cid-thkrRuHxOv .card .card-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  left: 0;
  top: 0;
}
.cid-thkrRuHxOv .card .card-block .photo {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.cid-thkrRuHxOv .card .card-block .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-thkrRuHxOv .card:hover .card-block::before,
.cid-thkrRuHxOv .card:focus .card-block::before {
  opacity: 0;
  background-color: #121525;
}
.cid-thkrRuHxOv .card:hover .text-wrap,
.cid-thkrRuHxOv .card:focus .text-wrap {
  display: block;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.cid-thkrRuHxOv .card:hover h6,
.cid-thkrRuHxOv .card:focus h6 {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0.5;
}
.cid-thkrRuHxOv .card-hover-text {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-thkrRuHxOv .card-block::before {
    opacity: 0.2 !important;
    background-color: #121525;
    border: 1px solid #767676;
  }
  .cid-thkrRuHxOv .text-wrap {
    display: block;
    opacity: 1;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }
  .cid-thkrRuHxOv h6 {
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
    opacity: 0.5;
  }
  .cid-thkrRuHxOv .text-wrap2 {
    display: none;
  }
}
.cid-thkrRuHxOv .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-thkrRuHxOv .mbr-section-btn a {
  display: inline-block;
  color: #000000;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-thkrRuHxOv .mbr-section-btn a:after {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-thkrRuHxOv .mbr-section-btn a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 9px;
}
.cid-thkrRuHxOv .mbr-section-btn a:hover:after,
.cid-thkrRuHxOv .mbr-section-btn a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-thkrRuHxOv .mbr-section-btn a:hover:before,
.cid-thkrRuHxOv .mbr-section-btn a:focus:before {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-thkrRuHxOv a.text-white:hover,
.cid-thkrRuHxOv a.text-white:focus {
  color: #ffffff !important;
}
.cid-thku1ihrdp {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #191f2d;
}
.cid-thku1ihrdp .container-fluid {
  position: relative;
}
.cid-thku1ihrdp .page-title-content {
  width: 100%;
}
.cid-thku1ihrdp .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-thku1ihrdp .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-thku1ihrdp .page-title-content {
    text-align: center;
  }
}
.cid-thku1ihrdp .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-thku1ihrdp a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-thku1ihrdp a:not(:first-child) {
  margin-left: 20px;
}
.cid-thku1ihrdp a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-thku1ihrdp a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-thku1ihrdp a:hover:after,
.cid-thku1ihrdp a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-thku1ihrdp a:hover:before,
.cid-thku1ihrdp a:focus:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-thku1ihrdp a.text-white:hover,
.cid-thku1ihrdp a.text-white:focus {
  color: #ffffff !important;
}
.cid-thku1ihrdp .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-thku1ihrdp .page-title-content .title,
.cid-thku1ihrdp .icon-section,
.cid-thku1ihrdp .mbr-section-btn {
  color: #ffffff;
}
.cid-thku1WxiVc {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-thku1WxiVc .container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.cid-thku1WxiVc .card {
  padding: 0;
}
.cid-thku1WxiVc .card .card-block {
  height: 0px;
  position: relative;
}
.cid-thku1WxiVc .card .card-block::before {
  display: none !important;
}
.cid-thku1WxiVc .card:hover .card-block::before {
  opacity: 0;
  background-color: transparent;
}
.cid-thku1WxiVc .subtitle {
  color: #767676;
}
.cid-thku1WxiVc .row {
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 !important;
}
.cid-thku1WxiVc .title {
  max-width: 100%;
  margin: auto;
  padding-top: 2rem;
}
.cid-thku1WxiVc .text-wrap {
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  pointer-events: all;
  display: none;
}
.cid-thku1WxiVc .card {
  padding: 0;
}
.cid-thku1WxiVc .card .card-block {
  height: 600px;
  position: relative;
}
.cid-thku1WxiVc .card .card-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
  left: 0;
  top: 0;
}
.cid-thku1WxiVc .card .card-block .photo {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.cid-thku1WxiVc .card .card-block .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-thku1WxiVc .card:hover .card-block::before,
.cid-thku1WxiVc .card:focus .card-block::before {
  opacity: 0;
  background-color: #121525;
}
.cid-thku1WxiVc .card:hover .text-wrap,
.cid-thku1WxiVc .card:focus .text-wrap {
  display: block;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.cid-thku1WxiVc .card:hover h6,
.cid-thku1WxiVc .card:focus h6 {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0.5;
}
.cid-thku1WxiVc .card-hover-text {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-thku1WxiVc .card-block::before {
    opacity: 0.2 !important;
    background-color: #121525;
    border: 1px solid #767676;
  }
  .cid-thku1WxiVc .text-wrap {
    display: block;
    opacity: 1;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
  }
  .cid-thku1WxiVc h6 {
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
    opacity: 0.5;
  }
  .cid-thku1WxiVc .text-wrap2 {
    display: none;
  }
}
.cid-thku1WxiVc .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-thku1WxiVc .mbr-section-btn a {
  display: inline-block;
  color: #000000;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-thku1WxiVc .mbr-section-btn a:after {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-thku1WxiVc .mbr-section-btn a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 9px;
}
.cid-thku1WxiVc .mbr-section-btn a:hover:after,
.cid-thku1WxiVc .mbr-section-btn a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-thku1WxiVc .mbr-section-btn a:hover:before,
.cid-thku1WxiVc .mbr-section-btn a:focus:before {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-thku1WxiVc a.text-white:hover,
.cid-thku1WxiVc a.text-white:focus {
  color: #ffffff !important;
}
.cid-thku3y2HoX {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #191f2d;
}
.cid-thku3y2HoX .container-fluid {
  position: relative;
}
.cid-thku3y2HoX .page-title-content {
  width: 100%;
}
.cid-thku3y2HoX .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-thku3y2HoX .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-thku3y2HoX .page-title-content {
    text-align: center;
  }
}
.cid-thku3y2HoX .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-thku3y2HoX a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-thku3y2HoX a:not(:first-child) {
  margin-left: 20px;
}
.cid-thku3y2HoX a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-thku3y2HoX a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-thku3y2HoX a:hover:after,
.cid-thku3y2HoX a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-thku3y2HoX a:hover:before,
.cid-thku3y2HoX a:focus:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-thku3y2HoX a.text-white:hover,
.cid-thku3y2HoX a.text-white:focus {
  color: #ffffff !important;
}
.cid-thku3y2HoX .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-thku3y2HoX .page-title-content .title,
.cid-thku3y2HoX .icon-section,
.cid-thku3y2HoX .mbr-section-btn {
  color: #ffffff;
}
.cid-s3HdZImaCW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fafd02;
}
.cid-s3HdZImaCW .container-fluid {
  position: relative;
}
.cid-s3HdZImaCW .page-title-content {
  width: 100%;
}
.cid-s3HdZImaCW .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-s3HdZImaCW .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-s3HdZImaCW .page-title-content {
    text-align: center;
  }
}
.cid-s3HdZImaCW .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-s3HdZImaCW a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-s3HdZImaCW a:not(:first-child) {
  margin-left: 20px;
}
.cid-s3HdZImaCW a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-s3HdZImaCW a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-s3HdZImaCW a:hover:after,
.cid-s3HdZImaCW a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-s3HdZImaCW a:hover:before,
.cid-s3HdZImaCW a:focus:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-s3HdZImaCW a.text-white:hover,
.cid-s3HdZImaCW a.text-white:focus {
  color: #ffffff !important;
}
.cid-s3HdZImaCW .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-s3HdZImaCW .page-title-content .title,
.cid-s3HdZImaCW .icon-section,
.cid-s3HdZImaCW .mbr-section-btn {
  color: #191f2d;
}
.cid-s3Hj1HDjbM {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fafd02;
}
.cid-s3Hj1HDjbM .container-fluid {
  position: relative;
}
.cid-s3Hj1HDjbM .page-title-content {
  width: 100%;
}
.cid-s3Hj1HDjbM .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-s3Hj1HDjbM .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-s3Hj1HDjbM .page-title-content {
    text-align: center;
  }
}
.cid-s3Hj1HDjbM .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-s3Hj1HDjbM a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-s3Hj1HDjbM a:not(:first-child) {
  margin-left: 20px;
}
.cid-s3Hj1HDjbM a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-s3Hj1HDjbM a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-s3Hj1HDjbM a:hover:after,
.cid-s3Hj1HDjbM a:focus:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.cid-s3Hj1HDjbM a:hover:before,
.cid-s3Hj1HDjbM a:focus:before {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-name: slideout;
  animation-name: slideout;
}
.cid-s3Hj1HDjbM a.text-white:hover,
.cid-s3Hj1HDjbM a.text-white:focus {
  color: #ffffff !important;
}
.cid-s3Hj1HDjbM .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-s3Hj1HDjbM .page-title-content .title,
.cid-s3Hj1HDjbM .icon-section,
.cid-s3Hj1HDjbM .mbr-section-btn {
  color: #191f2d;
}
.cid-rIyZ9J9f8y {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #0d0f1c;
}
.cid-rIyZ9J9f8y .mbr-text {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-rIyZ9J9f8y p {
    text-align: center;
  }
  .cid-rIyZ9J9f8y .row {
    justify-content: center;
  }
}
